.recipe{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    border-radius: 15px;
    background: rgba(255,255,255,0.6);
}