.recipes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    border-radius: 15px;
}