.searchForm{
    display: flex;
    margin: 0 auto;
    margin: 15px 20px 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .mainSearch{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .searchBar{
    width: 90%;
    font-size: 16px;
    max-width: 280px;
    border: none;
    outline: none;
    padding: 10px;
  }
  .searchButton{
    background: #ea7443;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    color: white;
  }
  .filters{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .filter{
    padding: 5px;
    margin: 5px 0px;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;
    font-size: 24px;
  }
  .dietActive{
    transition: .2s;
    border: 1px solid #ea7443;
    background: #ea7443;
  }
  .dietDisactive:hover{
    transition: .2s;
    background: white;
    color: #363636;
  }
  .boxFilter span{
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    top: 52px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    word-wrap: break-word;
    width: 50px;
  }
  .boxFilter:hover span{
    opacity: 1;
  }
  .boxFilter span.activeSpan{
    opacity: 1 !important;
  }
  .boxFilter{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0px 10px;
    align-items: center;
    flex-direction: column;
  }