/*
  light - #f4f4f4
  darkgrey - #222222
  semigrey - #363636
  lightgrey - #777777
  darkorange - #d2573a
  lightorange - #ea7443
*/


.App{

}
.recipes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}