/*
  light - #f4f4f4
  darkgrey - #222222
  semigrey - #363636
  lightgrey - #777777
  darkorange - #d2573a
  lightorange - #ea7443
*/

.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #222222 0%, #363636 100%);
  color: #ececec;
  padding-bottom: 100px;
}
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  width: 90%;
  font-size: 16px;
  max-width: 500px;
  border: none;
  outline: none;
  padding: 10px;
}
.search-button{
  background: #ea7443;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  color: white;
}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
h2{
  text-align: center;
}